body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --text-regular-normal: Roboto;
  --font-inter: Inter;

  /* font sizes */
  --text-regular-normal-size: 16px;
  --font-size-29xl: 48px;

  /* Colors */
  --white: #fff;
  --black: #000;
  --color-gray-100: #202020;
  --neutral-dark-gray: #505050;
  --gray-500: #adb5bd;
  --gray-300: #dee2e6;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-xs: 12px;

  /* border radiuses */
  --br-lgi: 19px;
}
